<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Content page</title>
</head>
<body>
<section layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <ul class="list-unstyled">
                        <li class="p-1" th:each="position : ${positions.page.content}">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center"
                                     style="font-weight: bold;">
                                    <span th:text="${position.name}">Apple Inc.</span>
                                    <span>€15,000</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <p th:text="'Stückzahl: ' + ${position.getQuantity()}">Stückzahl: 100</p>
                                            <p>WKN: 865985</p>
                                            <p>Börse: NASDAQ</p>
                                        </div>
                                        <div class="col-6 text-end">
                                            <p style="color: green;">Gewinn: +5%</p>
                                            <p>Aktueller Kurs: €150</p>
                                            <p th:text="'Kaufkurs: ' + ${position.getStrikeprice()}">Kaufkurs: €142</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-self-end">
                                            <a href="#" class="btn btn-primary">Show Details</a>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation" class="paging">
                        <ul class="pagination" th:if="${positions.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!positions.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber - 1}}"
                                   tabindex="-1">Previous</a>
                            </li>
                            <th:block th:each="item : ${positions.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == positions.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link" th:href="@{'/positions/?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!positions.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script>
        </script>
    </main>

</section>
</body>
</html>