<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Content page</title>
</head>
<!--<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>-->
<body>
<section layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <ul class="list-group ">
                <li th:each="position : ${positions.page.content}" >
                    <div class="card" style="width: 18rem;">
                        <i class="bi bi-bar-chart"></i>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${position.name}">Card title</h5>
                            <p class="card-text" th:text="${position.getStrikeprice()}"></p>
                            <p class="card-text" th:text="${position.getQuantity()}"></p>
                            <a href="#" class="btn btn-primary">Show Details</a>
                        </div>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${positions.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!positions.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${positions.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == positions.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/positions/?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!positions.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>
    </main>

</section>
</body>
</html>