<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      data-bs-theme="dark"
      lang="en">
<head>
    <title>Content page</title>
</head>
<body>
<section layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <ul class="list-unstyled">
                        <li th:each="position : ${positions.page.content}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="card" >
                                <!-- Button trigger modal -->
                      <!--          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Launch demo modal
                                </button>-->
                                <div class="card-header d-flex justify-content-between align-items-center"
                                     style="font-weight: bold;">
                                    <span th:text="${position.name}">Apple Inc.</span>
                                    <span>€15,000</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <p th:text="'Quantity: ' + ${position.getQuantity()}">Stückzahl: 100</p>
                                            <p th:text="'Wkn: ' + ${position.getWkn()}">WKN: 865985</p>
                                            <p>Stock: NASDAQ</p>
                                        </div>
                                        <div class="col-6 text-end">
                                            <p style="color: green;">Profit: +5%</p>
                                            <p>
                                                <stock-price th:id="${position.getWkn()}"></stock-price>
                                            </p>
                                            <p th:text="'Strike Price: ' + ${position.getStrikeprice()}">Strike Price: €142</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-self-end">
                                            <a th:href="@{'/positions/' + ${position.getId()}}"
                                               class="btn btn-primary">Show Details</a>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
             &lt;!&ndash;                                   <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>&ndash;&gt;
                                                <div class="modal-body">
                                                    <a th:href="@{'/positions/' + ${position.getId()}}"
                                                       class="btn btn-primary">Show Details</a>
                                                </div>
                                                <div class="modal-body">
                                                    <a th:href="@{'/positions/open'}"
                                                       class="btn btn-primary">Open new Position</a>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    &lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </li>
                    </ul>

                    <nav aria-label="Page navigation" class="paging">
                        <ul class="pagination" th:if="${positions.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!positions.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber - 1}}"
                                   tabindex="-1">Previous</a>
                            </li>
                            <th:block th:each="item : ${positions.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == positions.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link" th:href="@{'/positions/?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!positions.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/positions/?pageNumber=' + ${positions.paging.pageNumber + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script>
        </script>
    </main>

</section>

<script src="/js/stock-price.js"></script>
</body>
</html>