<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      data-bs-theme="dark"
      lang="en">
<head>
    <title>Content page</title>
</head>
<body>
<section layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <div class="card card-primary card-outline mb-4"> <!--begin::Header-->
                        <div class="card-header">
                            <div class="card-title">Place Order</div>
                        </div> <!--end::Header--> <!--begin::Form-->
                        <form method="post" th:object="${order}" class="needs-validation" novalidate>
                            <!--begin::Body-->
                            <div class="card-body">

                                <div class="input-group mb-3">
                                    <!--<span class="input-group-text" id="basic-addon1">@</span>-->
                                    <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                                           aria-describedby="basic-addon1" th:field="*{name}" required>
                                </div>

                                <div class="input-group mb-3">
                                    <!--<span class="input-group-text" id="basic-addon1">@</span>-->
                                    <input type="text" class="form-control" placeholder="WKN" aria-label="WKN"
                                           aria-describedby="basic-addon1" th:field="*{wkn}" required>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">€</span>
                                    <input type="text" class="form-control" placeholder="0" aria-label="Strike price"
                                           th:field="*{strikeprice}" required>
                                    <span class="input-group-text">.00</span>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Pieces</span>
                                    <input type="text" class="form-control" placeholder="0" aria-label="Quantity"
                                           th:field="*{quantity}" required>
                                    <span class="input-group-text">.00</span>
                                </div>

                                <div class="mb-3 form-check"><input type="checkbox" class="form-check-input"
                                                                    id="exampleCheck1" required> <label
                                        class="form-check-label"
                                        for="exampleCheck1">Agree to terms and conditions
                                </label></div>

                            </div> <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Order</button>
                            </div> <!--end::Footer-->
                        </form> <!--end::Form-->
                    </div>
                </div>
            </div>
        </div>
        <script>
            // JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>
    </main>

</section>
<!--<script th:src="@{js/jquery.inputmask.min.js}"></script>
<script>
    $(":input").inputmask();
</script>-->
<!--<script src="/js/stock-price.js"></script>-->
</body>
</html>